@font-face {
	font-family: Futura;
	src: url('./fonts/Futura\ PT.ttf');
}

* {
	font-family: Futura;
}

.side-main {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 1000px;
	transition: all 1s;
}

.sidebar {
	position: fixed;
	/*background: linear-gradient(110deg, #ff2768, #ff5e2d);
    background: linear-gradient(110deg, #2735ff, #c32dff);
    background: linear-gradient(110deg, #27bbff, #6c2dff);
    background: linear-gradient(110deg, #ffdf27, #ff812d);
    background: linear-gradient(110deg, #ff2781, #2df1ff);
    background: linear-gradient(110deg, #27fff4, #2d42ff);
    background: linear-gradient(110deg, #7da0ff 15%, #3700ff);*/
	background: linear-gradient(110deg, #ff7b00, #ff0055);
	color: linear-gradient(90deg, #ca6c00, #9e0057);
	height: 100%;
	width: 270px;
	transition: all 2s;
	overflow: hidden;
	backdrop-filter: blur(5px);

	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 5;
}

.header {
	margin-top: 10px;
	display: flex;
	background-color: transparent;
	cursor: pointer;
}

nav {
	cursor: pointer;
}

.ittaboo-logo {
	margin-left: 30px;
	margin-right: 30px;
	height: 80%;
}

.navtop {
	width: 100%;
	height: 50px;
	background: linear-gradient(90deg, #ff7b00, #ff0055);
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 20;
}

.navhover:hover {
	background-color: aliceblue;
}

.header>i,
.header>p {
	font-size: 40px;
	font-weight: 800;
}

.header>i {
	margin-left: 10px;
	margin-right: 10px;
}

.elements {
	margin-top: 10px;
}

.el {
	display: flex;
	/*backdrop-filter: blur(5px);*/
	width: 270px;
	height: 100%;
	justify-items: center;
	align-items: center;
	transition: all 2s;
}

.name:hover {
	background: white;
	opacity: 0.7;
	color: #9e0057;
	transition: 0s;
}

.p-name {
	margin-left: 20px;
	margin-right: 20px;
}

.name {
	width: 120%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 25px;
	color: white;
	background-color: transparent;
	transition: all 0.5s;
	text-decoration: none;

	white-space: nowrap;
	text-overflow: ellipsis;
}

.el>.name {
	width: 150%;
}

.sub-el-div {
	transition: all 1s;
}

.sub-el {
	display: flex;
	backdrop-filter: blur(5px);
	width: 270px;
	height: 45px;
	justify-items: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.sub-el>.name {
	margin-right: 16px;
	background-color: transparent;
	font-size: 20px;
	color: white;
	margin-bottom: 5px;
	transition: all 0.5s;
}